div  {
    box-sizing: border-box;
    width: 470px;    
    padding: 20px 10px 20px 10px;    
}

div img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 25px;
}

.chapter {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 25px;  
  }
  
  .title {
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    margin-bottom: 35px;
  }
  
  .text {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
  }